# Этот .gitignore только для проекта!
#
# Не добавлять игноры локальной среды разработки, конфиги IDE, ОС и тп!
# Для этого используйте глобальный ~/.gitexcludes для своей системы!

# Maven
target

# Настройки приложения
/properties.xml

